# North Sea production visualization

This notebook contains code for cleaning data downloaded from the internet containing monthly production per field in UK and Norway side of North Sea. 

* UK: https://data-ogauthority.opendata.arcgis.com/datasets/oga-field-production-pprs-wgs84

* Norway: http://factpages.npd.no/factpages/Default.aspx?culture=en&nav1=field&nav2=TableView%7CProduction%7CSaleable%7CMonthly

The cleaned data is finally combined and visualized using the open-source geospatial data visualization web-service https://uber.github.io/kepler.gl/#/ 


The following resources have been also used:

* Find Latitude and Longitude of UK fields: https://en.wikipedia.org/wiki/List_of_oil_and_gas_fields_of_the_North_Sea#United_Kingdom

* Make videos: https://www.macworld.co.uk/how-to/mac-software/how-record-screen-on-your-mac-3527168/

* Convert to mpeg and GIF: http://www.convertfiles.com + https://cloudconvert.com/mpeg-to-gif + http://swift.logdown.com/posts/286503-tricks-and-tips-how-to-add-a-demo-video-in-your-git-readmemd-without-adding-files-to-the-repository-or-hosting-files-elsewhere-online

In [23]:
import os
import glob
from datetime import datetime,date

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from IPython.display import display

# Figures inline and set visualization style
%matplotlib inline
sns.set()
sns.set_style("whitegrid")

## Data loading

In [24]:
df_UK = pd.read_csv('Data/UKCS_Production.csv', encoding='latin-1')
df_UK.fillna(0., inplace=True)

display(df_UK.head(5))

,OBJECTID,FIELDNAME,FIELDAREA,UNITNAME,UNITTYPCOD,UNITTYPDES,LOCATION,PERIODDATE,PERIODYRMN,PERIODMNTH,...,GCONDVOL,GCONDMBD,GCONDDEN,INJWATMASS,INJWATVOL,INJWATMBD,WATPRODMAS,WATPRODVOL,WATPRODMBD,ORGGRPNM
0,1,ALBA,CNS,ALBA,OTL,Offshore Tanker Loader,Offshore,1994-03-15T00:00:00.000Z,199403,3,...,0.0,0.0,0.0,74078.0,74078.0,15.030665,2192.0,2192.0,0.444764,CHEVRON CORPORATION
1,2,ALBA,CNS,ALBA,OTL,Offshore Tanker Loader,Offshore,1994-04-15T00:00:00.000Z,199404,4,...,0.0,0.0,0.0,217307.0,217307.0,45.562034,25516.0,25516.0,5.349855,CHEVRON CORPORATION
2,3,ALBA,CNS,ALBA,OTL,Offshore Tanker Loader,Offshore,1994-05-15T00:00:00.000Z,199405,5,...,0.0,0.0,0.0,334098.0,334098.0,67.789562,23496.0,23496.0,4.767414,CHEVRON CORPORATION
3,4,ALBA,CNS,ALBA,OTL,Offshore Tanker Loader,Offshore,1994-06-15T00:00:00.000Z,199406,6,...,0.0,0.0,0.0,297500.0,297500.0,62.375833,24628.0,24628.0,5.163671,CHEVRON CORPORATION
4,5,ALBA,CNS,ALBA,OTL,Offshore Tanker Loader,Offshore,1994-07-15T00:00:00.000Z,199407,7,...,0.0,0.0,0.0,321721.0,321721.0,65.278229,51591.0,51591.0,10.467980,CHEVRON CORPORATION

In [25]:
df_Nor = pd.read_csv('Data/NCS_Production.csv', encoding='utf-8')
#df_Nor.fillna(0., inplace=True)

display(df_Nor.head(5))

,prfInformationCarrier,prfYear,prfMonth,prfPrdOilGrossMillSm3,prfPrdGasGrossBillSm3,prfPrdCondensateGrossMillSm3,prfPrdOeGrossMillSm3,prfPrdProducedWaterInFieldMillSm3,prfNpdidInformationCarrier
0,33/9-6 DELTA,2009,7,0.00070,0.00011,0.0,0.00081,0.00051,44576
1,33/9-6 DELTA,2009,8,0.00292,0.00047,0.0,0.00339,0.00063,44576
2,33/9-6 DELTA,2009,9,0.00338,0.00054,0.0,0.00392,0.00316,44576
3,33/9-6 DELTA,2009,10,0.00312,0.00050,0.0,0.00362,0.00535,44576
4,33/9-6 DELTA,2009,11,0.00000,0.00000,0.0,0.00000,0.00000,44576

## Fields extraction

Extract all fields and save them to file

In [26]:
fields = df_UK['FIELDNAME'].unique()
print(fields)

#df_UK_position = pd.DataFrame({'FIELDNAME':fields, 
#                               'LAT':np.zeros(len(fields)),
#                               'LON':np.zeros(len(fields))})
#df_UK_position.to_csv('Data/Fields_UKCS.csv', encoding='latin-1')
#df_UK_position.to_excel('Data/Fields_UKCS.xls', encoding='latin-1')

[u'ALBA' u'AFFLECK' u'ANDREW' u'ALMA' u'ALDER' u'ANGUS' u'ARBROATH'
 u'ARGYLL' u'ARDMORE' u'AUK' u'ATHENA' u'ATLANTIC' u'ARKWRIGHT' u'BANFF'
 u'BEATRICE' u'BALMORAL' u'BARDOLINO' u'AUK NORTH' u'BACCHUS' u'AVIAT'
 u'BALLOCH' u'BEINN' u'BLAKE' u'BRAE-CENTRAL [Part of BRAE]' u'BIRCH'
 u'BITTERN' u'BEAULY' u'BLACKBIRD' u'BLADON' u'BLENHEIM' u'BLANE' u'BLAIR'
 u'BRAE-NORTH [Part of BRAE]' u'BRAE-SOUTH [Part of BRAE]' u'BRAEMAR'
 u'BRIMMOND' u'BRENDA' u'BRITANNIA' u'BRECHIN' u'BRODGAR' u'BURGHLEY'
 u'CALLANISH' u'CAPTAIN' u'CARNOUSTIE' u'BUCHAN' u'CALEDONIA' u'CHANTER'
 u'BUZZARD' u'BURGMAN' u'CATCHER' u'CAYLEY' u'CLAPHAM' u'CLAYMORE'
 u'CHESTNUT' u'CLYDE' u'CURLEW B + D' u'CROMARTY' u'COOK' u'CRATHES'
 u'DUNCAN' u'EAST BRAE' u'DONAN [MAERSK]' u'EGRET' u'CURLEW C' u'DRAKE'
 u'DUART' u'DAUNTLESS' u'DONAN' u'ELGIN' u'CYRUS' u'DURWARD' u'FIFE'
 u'FORTIES' u'EVEREST' u'FLORA' u'FERGUS' u'ERSKINE' u'ENOCHDHU'
 u'FLEMING' u'ENOCH' u'FLYNDRE' u'FARRAGON' u'ETTRICK' u'FULMAR'
 u'GADWALL' u'GANNET A' u'FRANKLIN' u'GALLEY' u'GANNET C' u'GANNET E'
 u'GANNET G' u'GANNET B' u'GALIA' u'GANNET F' u'GLAMIS' u'GANNET D'
 u'GODWIN' u'GOLDEN EAGLE' u'GUILLEMOT A' u'GUILLEMOT NORTH WEST'
 u'HAMISH' u'GLENELG' u'GUILLEMOT WEST' u'HALLEY' u'GROUSE' u'HERON'
 u'HOWE' u'GOOSANDER' u'IONA' u'HANNAY' u'HIGHLANDER' u'HAWKINS'
 u'GOLDENEYE' u'INNES' u'HUNTINGTON' u'IVANHOE' u'JAMES' u'JOANNE' u'JADE'
 u'JASMINE' u'JUDY' u'KYLE' u'KITTIWAKE' u'JANICE' u'KINGFISHER' u'JACKY'
 u'MACCULLOCH' u'MADOES' u'MALLARD' u'LOMOND' u'LEVEN' u'LARCH' u'LYBSTER'
 u'LOCHRANZA' u'MACHAR' u'MILLER' u'MARIA' u'MAUREEN' u'MOIRA'
 u'MARNOCK [pt. of MARNOCK-SKUA]' u'MEDWIN' u'MERGANSER' u'MONAN'
 u'MIRREN' u'MAULE' u'ORION' u'MONTROSE' u'NELSON' u'NICOL' u'MUNGO'
 u'PETRONELLA' u'NETHAN' u'PEREGRINE' u'ROB ROY' u'SALTIRE' u'PICT'
 u'PIPER' u'ROCHELLE' u'RUBIE' u'RENEE' u'PIERCE' u'ROSS' u'SCOTT'
 u'SEYMOUR' u'SKUA [pt. of MARNOCK-SKUA]' u'SOLITAIRE' u'STARLING'
 u'SCAPA' u'SCOTER' u'SHAW' u'SHEARWATER' u'SAXON' u'SCOLTY'
 u'SEDGWICK [PT. OF WEST BRAE]' u'SHELLEY' u'STIRLING' u'TARTAN' u'TEAL'
 u'TEAL SOUTH' u'TELFORD' u'WOOD' u'SYCAMORE' u'THELMA' u'STELLA'
 u'TIFFANY' u'TWEEDSMUIR' u'WEST BRAE' u'BAINS' u'TONTO' u'VARADERO'
 u'TONI' u'CALDER' u'TWEEDSMUIR SOUTH' u'HAMILTON' u'HAMILTON NORTH'
 u'MILLOM' u'DOUGLAS' u'DALTON' u'DOUGLAS WEST' u'NORTH MORECAMBE'
 u'LENNOX' u'HAMILTON EAST' u'BERYL' u'BARRA' u'RHYL' u'WYTCH FARM'
 u'ALWYN NORTH' u'ARUNDEL' u'CONWY' u'SOUTH MORECAMBE' u'BRENT' u'BROOM'
 u'BUCKLAND' u'BRUCE' u'COLUMBA B/D' u'CAUSEWAY' u'CLADHAN' u'BOA'
 u'CALLATER' u'COLUMBA D' u'COLUMBA E' u'CORMORANT EAST'
 u'CORMORANT NORTH' u'CRAWFORD' u'DEVERON' u'DEVENICK' u'DON' u'CONRIE'
 u'DUNBAR' u'DUNLIN' u'EIDER' u'DUNLIN SOUTH WEST' u'ELLON'
 u'DON SOUTH WEST' u'GRYPHON' u'HEATHER' u'GRANT' u'FALCON' u'FIONN'
 u'HARDING' u'FORVIE NORTH' u'FRIGG' u'KESTREL' u'HUDSON' u'LYELL'
 u'ISLAY' u'JURA' u'HUTTON' u'KEITH' u'LOIRSTON' u'EMERALD' u'HARRIS'
 u'MACLURE' u'MAGNUS' u'LINNHE' u'MURCHISON' u'MAGNUS SOUTH' u'MERLIN'
 u'LEADON' u'KINNOULL' u'KRAKEN NORTH' u'KRAKEN' u'NESS' u'NINIAN'
 u'NORTHWEST HUTTON' u'OSPREY' u'NUGGETS N1' u'OTTER' u'NEVIS'
 u'PENGUIN WEST' u'SKENE' u'SOUTH CORMORANT' u'PELICAN' u'PLAYFAIR'
 u'PENGUIN EAST' u'STATFJORD' u'STRATHSPEY' u'RHUM' u'TERN' u'THISTLE'
 u'STAFFA' u'TULLICH' u'AMETHYST WEST' u'APOLLO' u'ARTHUR' u'ANN'
 u'WEST DON' u'YTHAN' u'AMETHYST EAST' u'ALISON-KX [CONOCOPHILLIPS]'
 u'ANGLIA' u'ALISON [CENTRICA]' u'AUDREY' u'BAIRD' u'BELL [PERENCO]'
 u'BESSEMER' u'BELL [CONOCOPHILLIPS]' u'BARQUE' u'BEAUFORT' u'BOULTON'
 u'BARQUE SOUTH' u'BABBAGE' u'BURE' u'BRIGANTINE C' u'BROWN' u'BOYLE'
 u'CAISTER [BUNTER]' u'BURE WEST [Part of BURE]' u'BREAGH' u'BRIGANTINE B'
 u'BOULTON H' u'CAISTER [CARBONIFEROUS]' u'CAMELOT CENTRAL SOUTH' u'CERES'
 u'CARAVEL' u'CHISWICK' u'CAMELOT NORTH EAST' u'BRIGANTINE A'
 u'BRIGANTINE D' u'CLEETON' u'CLIPPER NORTH' u'CALLISTO' u'CALLISTO NORTH'
 u'CAMELOT NORTH' u'CAVENDISH' u'CARRACK' u'EAST SEAN' u'CLIPPER SOUTH'
 u'DAWN' u'DAVY' u'DEBEN' u'DELILAH' u'CYGNUS' u'CUTTER' u'CORVETTE'
 u'DAVY EAST' u'DURANGO' u'ERIS' u'ENSIGN' u'GORDON' u'EXCALIBUR'
 u'GANYMEDE' u'GROVE' u'GALAHAD' u'GALLEON' u'GAWAIN' u'EUROPA' u'ESMOND'
 u'FORBES' u'GARROW' u'GUINEVERE' u'INDEFATIGABLE [PERENCO]' u'HEWETT'
 u'HAWKSLEY' u'HOTON' u'HUNTER' u'INDEFATIGABLE [SHELL]' u'HELVELLYN'
 u'HORNE' u'HYDE' u'KILMAR' u'LEMAN [PERENCO][pt. of LEMAN]'
 u'INDEFATIGABLE SOUTH WEST' u'JULIET' u'KATY' u'KELVIN' u'MARKHAM'
 u'MERCURY' u'MINKE' u'MIMAS' u'MORDRED' u'LEMAN [SHELL][pt. of LEMAN]'
 u'MINERVA' u'MURDOCH' u'MALORY' u'MUNRO' u'MCADAM' u'LEMAN SOUTH'
 u'JOHNSTON' u'LANCELOT' u'KETCH' u'KEW' u'NORTH VALIANT' u'ORWELL'
 u'MURDOCH K' u'NEWSHAM' u'PICKERILL' u'NORTH DAVY' u'NORTH SEAN'
 u'NEPTUNE' u'ORCA' u'SCHOONER' u'RAVENSPURN N[pt.of RAVENSPURN]'
 u'RAVENSPURN S[pt.of RAVENSPURN]' u'RITA' u'ROUGH' u'SATURN (ANNABEL)'
 u'SATURN (ATLAS, HYPERION, RHEA)' u'ROSE' u'TRISTAN' u'SEVEN SEAS'
 u'SOUTH VALIANT' u'THAMES' u'TRENT' u'SINOPE' u'SHAMROCK' u'STAMFORD'
 u'TOPAZ' u'TETHYS' u'TYNE NORTH' u'VAMPIRE' u'SKIFF' u'THURNE'
 u'VIKING B [pt of VIKING GROUP]' u'VICTOR' u'SOUTH SEAN' u'VALKYRIE'
 u'TRISTAN NW' u'TYNE SOUTH' u'VANGUARD' u'VICTORIA' u'VISCOUNT'
 u'VIKING A [pt of VIKING GROUP]' u'VIKING' u'VULCAN' u'WENLOCK' u'WENSUM'
 u'WELLAND NORTH WEST' u'WEST SOLE' u'WAVENEY' u'WHITTLE' u'VIXEN' u'WATT'
 u'WELLAND SOUTH' u'SCHIEHALLION' u'FOINAVEN' u'WINGATE' u'YARE' u'YORK'
 u'WISSEY' u'WINDERMERE' u'LOYAL [Part of SCHIEHALLION]'
 u'CLAIR-PHASE 1 [Part of CLAIR]' u'GLENLIVET' u'LAGGAN' u'TORMORE'
 u'ALBURY' u'EDRADOUR' u'CORRINGHAM' u'WREN' u'SOLAN' u'BLETCHINGLEY'
 u'CROSBY WARREN' u'AVINGTON' u'BECKINGHAM WEST' u'CAYTHORPE'
 u'BOTHAMSALL' u'BECKINGHAM' u'COLD HANWORTH' u'BROCKHAM'
 u'AIRTH COAL BED METHANE DEVT.' u'HATFIELD' u'DUKES WOOD'
 u'EAST GLENTWORTH' u'ELSWICK' u'FISKERTON AIRFIELD' u'FARLEYS WOOD'
 u'HORNDEAN' u'KIRKLEATHAM' u'KIRKLINGTON' u'KEDDINGTON' u'HUMBLY GROVE'
 u'KIRBY MISPERTON' u'LIDSEY' u'KIMMERIDGE'
 u'HERRIARD [pt. of HUMBLY GROVE]' u'IRONVILLE' u'LONG CLAWSON'
 u'GAINSBOROUGH' u'GLENTWORTH' u'GOODWORTH' u'EGMANTON'
 u'DOE GREEN COAL BED METHANE' u'REMPSTONE' u'MALTON' u'SALTFLEETBY'
 u'SCAMPTON' u'NETTLEHAM' u'PALMERS WOOD' u'MARISHES' u'PICKERING'
 u'NEWTON-ON-TRENT' u'SCAMPTON NORTH' u'SINGLETON' u'STORRINGTON'
 u'STOCKBRIDGE' u'STAINTON' u'TRUMFLEET' u'SOUTH LEVERTON' u'WAREHAM'
 u'WEST FIRSBY' u'WADDOCK CROSS' u'WHISBY' u'WELTON']

In [27]:
df_Nor.rename(columns={'prfInformationCarrier': 'FIELDNAME'}, inplace=True)

fields = list(df_Nor['FIELDNAME'].unique())
print(fields)

#df_Nor_position = pd.DataFrame({'FIELDNAME':[field.encode('utf8') for field in fields], 
#                                'LAT':np.zeros(len(fields)), 
#                                'LON':np.zeros(len(fields))})
#df_Nor_position.to_csv('Data/Fields_NCS.csv', encoding='latin-1')

#df_Nor_position = pd.DataFrame({'FIELDNAME':fields, 
#                                'LAT':np.zeros(len(fields)), 
#                                'LON':np.zeros(len(fields))})
#df_Nor_position.to_excel('Data/Fields_NCS.xls', encoding='latin-1')

[u'33/9-6 DELTA', u'ALBUSKJELL', u'ALVE', u'ALVHEIM', u'ATLA', u'BALDER', u'BLANE', u'BRAGE', u'BRYNHILD', u'BYRDING', u'B\xd8YLA', u'COD', u'DRAUGEN', u'EDDA', u'EDVARD GRIEG', u'EKOFISK', u'ELDFISK', u'EMBLA', u'ENOCH', u'FLYNDRE', u'FRAM', u'FRAM H-NORD', u'FRIGG', u'FR\xd8Y', u'GAUPE', u'GIMLE', u'GINA KROG', u'GJ\xd8A', u'GLITNE', u'GOLIAT', u'GRANE', u'GUDRUN', u'GULLFAKS', u'GULLFAKS S\xd8R', u'GUNGNE', u'GYDA', u'HEIDRUN', u'HEIMDAL', u'HOD', u'HULDRA', u'HYME', u'ISLAY', u'IVAR AASEN', u'JETTE', u'JOTUN', u'KNARR', u'KRISTIN', u'KVITEBJ\xd8RN', u'LILLE-FRIGG', u'MARIA', u'MARULK', u'MIKKEL', u'MIME', u'MORVIN', u'MURCHISON', u'NJORD', u'NORD\xd8ST FRIGG', u'NORNE', u'ODIN', u'ORMEN LANGE', u'OSEBERG', u'OSEBERG S\xd8R', u'OSEBERG \xd8ST', u'OSELVAR', u'REV', u'RINGHORNE \xd8ST', u'SIGYN', u'SINDRE', u'SKARV', u'SKIRNE', u'SKULD', u'SLEIPNER VEST', u'SLEIPNER \xd8ST', u'SNORRE', u'SN\xd8HVIT', u'STATFJORD', u'STATFJORD NORD', u'STATFJORD \xd8ST', u'SVALIN', u'SYGNA', u'TAMBAR', u'TOMMELITEN GAMMA', u'TOR', u'TORDIS', u'TROLL', u'TRYM', u'TUNE', u'TYRIHANS', u'ULA', u'URD', u'VALE', u'VALEMON', u'VALHALL', u'VARG', u'VEGA', u'VESLEFRIKK', u'VEST EKOFISK', u'VIGDIS', u'VILJE', u'VISUND', u'VISUND S\xd8R', u'VOLUND', u'VOLVE', u'YME', u'YTTERGRYTA', u'\xd8ST FRIGG', u'\xc5SGARD']

Read file with fields and location (lat-long) and join to main dataframe

In [28]:
df_UK_position = pd.read_excel('Data/Fields_UKCS.xls', index_col=0, encoding='latin-1')
df_UK          = df_UK.merge(df_UK_position)

df_Nor_position = pd.read_excel('Data/Fields_NCS.xls', index_col=0, encoding='latin-1')
df_Nor          = df_Nor.merge(df_Nor_position)

# get only data that have latitute
df_UK  = df_UK[df_UK.LAT!=0]
df_Nor = df_Nor[df_Nor.LAT!=0]

print(df_UK.FIELDNAME.unique())
print(df_Nor.FIELDNAME.unique())

display(df_UK.head(5))
display(df_Nor.head(5))

[u'ALBA' u'ANDREW' u'AUK' u'BRAE-CENTRAL [Part of BRAE]' u'BLANE'
 u'BRAE-NORTH [Part of BRAE]' u'BRAE-SOUTH [Part of BRAE]' u'BUCHAN'
 u'DRAKE' u'ELGIN' u'CYRUS' u'FORTIES' u'EVEREST' u'FLEMING' u'FARRAGON'
 u'FULMAR' u'FRANKLIN' u'GOLDEN EAGLE' u'HAWKINS' u'MILLER' u'SEYMOUR'
 u'HARDING' u'KINNOULL' u'AMETHYST WEST' u'ANGLIA'
 u'LEMAN [PERENCO][pt. of LEMAN]' u'CLAIR-PHASE 1 [Part of CLAIR]']
[u'BLANE' u'BRAGE' u'DRAUGEN' u'EKOFISK' u'FRIGG' u'GINA KROG' u'GOLIAT'
 u'GRANE' u'GULLFAKS' u'HEIDRUN' u'HEIMDAL' u'NORNE' u'ORMEN LANGE'
 u'OSEBERG' u'OSEBERG S\xd8R' u'OSEBERG \xd8ST' u'OSELVAR' u'SKIRNE'
 u'SLEIPNER VEST' u'SLEIPNER \xd8ST' u'SNORRE' u'SN\xd8HVIT' u'STATFJORD'
 u'STATFJORD NORD' u'STATFJORD \xd8ST' u'TAMBAR' u'TROLL' u'ULA' u'VALE'
 u'VALHALL' u'YME']

,OBJECTID,FIELDNAME,FIELDAREA,UNITNAME,UNITTYPCOD,UNITTYPDES,LOCATION,PERIODDATE,PERIODYRMN,PERIODMNTH,...,GCONDDEN,INJWATMASS,INJWATVOL,INJWATMBD,WATPRODMAS,WATPRODVOL,WATPRODMBD,ORGGRPNM,LAT,LON
0,1,ALBA,CNS,ALBA,OTL,Offshore Tanker Loader,Offshore,1994-03-15T00:00:00.000Z,199403,3,...,0.0,74078.0,74078.0,15.030665,2192.0,2192.0,0.444764,CHEVRON CORPORATION,58.05803,1.079633
1,2,ALBA,CNS,ALBA,OTL,Offshore Tanker Loader,Offshore,1994-04-15T00:00:00.000Z,199404,4,...,0.0,217307.0,217307.0,45.562034,25516.0,25516.0,5.349855,CHEVRON CORPORATION,58.05803,1.079633
2,3,ALBA,CNS,ALBA,OTL,Offshore Tanker Loader,Offshore,1994-05-15T00:00:00.000Z,199405,5,...,0.0,334098.0,334098.0,67.789562,23496.0,23496.0,4.767414,CHEVRON CORPORATION,58.05803,1.079633
3,4,ALBA,CNS,ALBA,OTL,Offshore Tanker Loader,Offshore,1994-06-15T00:00:00.000Z,199406,6,...,0.0,297500.0,297500.0,62.375833,24628.0,24628.0,5.163671,CHEVRON CORPORATION,58.05803,1.079633
4,5,ALBA,CNS,ALBA,OTL,Offshore Tanker Loader,Offshore,1994-07-15T00:00:00.000Z,199407,7,...,0.0,321721.0,321721.0,65.278229,51591.0,51591.0,10.467980,CHEVRON CORPORATION,58.05803,1.079633

,FIELDNAME,prfYear,prfMonth,prfPrdOilGrossMillSm3,prfPrdGasGrossBillSm3,prfPrdCondensateGrossMillSm3,prfPrdOeGrossMillSm3,prfPrdProducedWaterInFieldMillSm3,prfNpdidInformationCarrier,LAT,LON
810,BLANE,2007,5,0.0000,0.00000,0.0,0.00000,0.0000,3437650,56.847683,2.498706
811,BLANE,2007,6,0.0000,0.00000,0.0,0.00000,0.0000,3437650,56.847683,2.498706
812,BLANE,2007,7,0.0000,0.00000,0.0,0.00000,0.0000,3437650,56.847683,2.498706
813,BLANE,2007,8,0.0000,0.00000,0.0,0.00000,0.0000,3437650,56.847683,2.498706
814,BLANE,2007,9,0.0082,0.00048,0.0,0.00867,0.0001,3437650,56.847683,2.498706

## Data cleaning

Change dates in UK (move day to 1)

In [29]:
def change_day_in_date(df):
    return df.PERIODDATE.replace(day=1)

df_UK.PERIODDATE = pd.to_datetime(df_UK.PERIODDATE)
df_UK.PERIODDATE = df_UK.apply(change_day_in_date, axis=1)

Create date column in Norway data

In [30]:
def create_date(df):
    return datetime(df['prfYear'],df['prfMonth'],1)
    
df_Nor['PERIODDATE'] = df_Nor.apply(create_date, axis=1)

Choose only needec columns and merge two datasets

In [31]:
df_UK = df_UK[['FIELDNAME', 'LAT', 'LON', 'PERIODDATE', 'OILPRODM3', 'AGASPROMMS', 'WATPRODVOL']]

df_UK.rename(columns={'OILPRODM3': 'Oil Production Volumes', 
                      'AGASPROMMS': 'Gas Production Volumes',
                      'WATPRODVOL': 'Water Production Volumes'}, inplace=True)
display(df_UK.head(5))

df_UK.to_csv('Data/UKCS_Production_cleaned.csv', index=False, encoding='latin-1')

,FIELDNAME,LAT,LON,PERIODDATE,Oil Production Volumes,Gas Production Volumes,Water Production Volumes
0,ALBA,58.05803,1.079633,1994-03-01,142134.0,6.691623,2192.0
1,ALBA,58.05803,1.079633,1994-04-01,166535.0,9.130105,25516.0
2,ALBA,58.05803,1.079633,1994-05-01,160681.0,9.311768,23496.0
3,ALBA,58.05803,1.079633,1994-06-01,198771.0,9.996499,24628.0
4,ALBA,58.05803,1.079633,1994-07-01,248810.0,12.571001,51591.0

In [32]:
df_Nor = df_Nor[['FIELDNAME', 'LAT', 'LON', 'PERIODDATE', 'prfPrdOilGrossMillSm3', 
                 'prfPrdGasGrossBillSm3', 'prfPrdProducedWaterInFieldMillSm3']]

df_Nor.rename(columns={'prfPrdOilGrossMillSm3': 'Oil Production Volumes', 
                       'prfPrdGasGrossBillSm3': 'Gas Production Volumes',
                       'prfPrdProducedWaterInFieldMillSm3': 'Water Production Volumes'}, 
              inplace=True)

# change units
df_Nor['Oil Production Volumes']= df_Nor['Oil Production Volumes']*1e6 
df_Nor['Gas Production Volumes']= df_Nor['Gas Production Volumes']*1e6 
df_Nor['Water Production Volumes']= df_Nor['Water Production Volumes']*1e6 

display(df_Nor.head(5))

df_Nor.to_csv('Data/NCS_Production_cleaned.csv', index=False, encoding='latin-1')

,FIELDNAME,LAT,LON,PERIODDATE,Oil Production Volumes,Gas Production Volumes,Water Production Volumes
810,BLANE,56.847683,2.498706,2007-05-01,0.0,0.0,0.0
811,BLANE,56.847683,2.498706,2007-06-01,0.0,0.0,0.0
812,BLANE,56.847683,2.498706,2007-07-01,0.0,0.0,0.0
813,BLANE,56.847683,2.498706,2007-08-01,0.0,0.0,0.0
814,BLANE,56.847683,2.498706,2007-09-01,8200.0,480.0,100.0

In [33]:
df_Nor_total = df_Nor.groupby(by='FIELDNAME').sum()

In [34]:
df_UK_total  = df_UK.groupby(by='FIELDNAME').sum()

Fields with biggest production

In [35]:
df_UK_total.sort_values(by='Oil Production Volumes', ascending=False)

,LAT,LON,Oil Production Volumes,Gas Production Volumes,Water Production Volumes
FIELDNAME,,,,,
FORTIES,29377.783503,517.483503,4.400745e+08,28944.333749,5.059658e+08
FULMAR,24317.280000,1209.600000,9.035153e+07,14201.625847,1.066534e+08
ALBA,16836.828700,313.093570,6.755544e+07,4039.592545,2.374325e+08
MILLER,11867.500000,268.660000,5.472607e+07,20996.820555,2.070433e+07
HARDING,15556.450000,341.900000,4.390850e+07,3945.562919,1.119725e+08
ELGIN,11591.300000,406.000000,4.387846e+07,29920.604498,1.255588e+06
BRAE-SOUTH [Part of BRAE],24419.200000,540.758400,4.208048e+07,16189.435763,2.698923e+07
FRANKLIN,11248.897000,395.970000,2.965870e+07,39308.050533,1.516597e+06
ANDREW,15151.050000,300.150000,2.690404e+07,11060.498423,5.028720e+07
AUK,28513.680000,1034.280000,2.403571e+07,916.566635,7.155479e+07
BRAE-NORTH [Part of BRAE],21073.300000,466.707180,2.252896e+07,72937.811299,9.267390e+06
CLAIR-PHASE 1 [Part of CLAIR],9611.550000,356.160000,1.963322e+07,1289.261023,9.077530e+06
BUCHAN,22187.280000,0.000386,1.764657e+07,852.786745,6.137864e+06
GOLDEN EAGLE,2360.780000,22.550000,1.018496e+07,436.569464,2.044774e+06
BRAE-CENTRAL [Part of BRAE],20075.400000,444.600000,9.633365e+06,2428.212977,1.989530e+06
EVEREST,16219.259100,16219.259100,5.939368e+06,32210.203315,6.716884e+05
FLEMING,14258.160000,446.736000,5.226964e+06,34726.985000,8.211050e+05
KINNOULL,2515.498280,49.450000,4.317647e+06,383.720015,9.379170e+05
BLANE,7162.808058,314.836956,3.481612e+06,213.671138,6.078550e+05
FARRAGON,8657.997040,170.200000,3.378694e+06,336.333535,1.799284e+06
CYRUS,15093.005200,299.000000,3.350116e+06,253.394109,8.468896e+06
DRAKE,14258.164920,446.736000,2.356498e+06,12046.131739,1.414138e+06
SEYMOUR,10432.800000,326.880540,1.200599e+06,4741.988128,9.553500e+04
HAWKINS,14258.162460,446.736000,3.013130e+05,623.516170,5.400900e+04
AMETHYST WEST,16984.860000,117.290000,0.000000e+00,0.000000,2.458000e+03
ANGLIA,15253.332380,452.832380,0.000000e+00,0.000000,1.676000e+04
LEMAN [PERENCO][pt. of LEMAN],18154.106928,741.483018,0.000000e+00,0.000000,4.370000e+02

In [36]:
df_Nor_total.sort_values(by='Oil Production Volumes', ascending=False)

,LAT,LON,Oil Production Volumes,Gas Production Volumes,Water Production Volumes
FIELDNAME,,,,,
STATFJORD,28191.072000,696.432700,573433950.0,184878580.0,515603420.0
EKOFISK,31655.049582,1755.460390,485898060.0,203353970.0,174075700.0
OSEBERG,22851.073924,945.162722,397911630.0,273300020.0,46074280.0
GULLFAKS,22983.142880,813.134968,365547290.0,103022300.0,386953440.0
TROLL,20558.843484,1263.245871,265567770.0,634390410.0,356066750.0
SNORRE,18884.452664,654.235736,215353140.0,39266200.0,148498180.0
HEIDRUN,17602.191000,1942.110000,158700370.0,44662570.0,75521210.0
DRAUGEN,18878.075748,2194.926972,139795880.0,7744420.0,117805700.0
VALHALL,23925.923231,1377.819962,119418560.0,26616030.0,9038510.0
GRANE,10537.600000,443.220000,114797010.0,20827410.0,57104150.0
NORNE,16182.090750,2064.487600,90328990.0,18375760.0,92304130.0
ULA,21788.354700,946.904742,78490530.0,10424820.0,45688410.0
BRAGE,17871.100000,890.900000,58726790.0,7846060.0,159194460.0
OSEBERG SÃ˜R,13130.676716,539.529508,56215050.0,28034360.0,29776510.0
STATFJORD NORD,17061.408000,421.680600,38610800.0,2837590.0,46636160.0
STATFJORD Ã˜ST,17306.016000,427.896000,37189330.0,5277480.0,37463060.0
OSEBERG Ã˜ST,13713.537620,583.641743,21433690.0,2744020.0,31865780.0
TAMBAR,11373.744192,517.205361,10760400.0,2299010.0,185780.0
YME,3794.062206,285.170754,8096390.0,350990.0,914430.0
GOLIAT,1782.500000,557.500000,6716490.0,1288100.0,62440.0
GINA KROG,795.543463,45.953115,1152330.0,1042410.0,1630.0
OSELVAR,4072.024800,172.915200,774200.0,421880.0,28650.0
BLANE,7447.046473,327.330486,767420.0,41040.0,136090.0
SLEIPNER Ã˜ST,17274.560000,565.360000,0.0,100227970.0,1243880.0
SLEIPNER VEST,15168.400000,496.600000,0.0,144686530.0,3112000.0
SNÃ˜HVIT,9164.800000,2688.000000,0.0,59099670.0,60560.0
SKIRNE,10031.503690,401.323286,0.0,10873890.0,23970.0
ORMEN LANGE,8101.738624,669.586816,0.0,194692810.0,1530.0
HEIMDAL,23024.979240,827.316880,0.0,46193360.0,20.0
VALE,11290.226170,414.918770,0.0,2073620.0,530.0
FRIGG,769.164400,769.164400,0.0,115871460.0,64920.0

In [37]:
df_UK_total[df_UK_total['Oil Production Volumes']==df_UK_total['Oil Production Volumes'].max()]

,LAT,LON,Oil Production Volumes,Gas Production Volumes,Water Production Volumes
FIELDNAME,,,,,
FORTIES,29377.783503,517.483503,440074530.0,28944.333749,505965839.0

In [38]:
df_Nor_total[df_Nor_total['Oil Production Volumes']==df_Nor_total['Oil Production Volumes'].max()]

,LAT,LON,Oil Production Volumes,Gas Production Volumes,Water Production Volumes
FIELDNAME,,,,,
STATFJORD,28191.072,696.4327,573433950.0,184878580.0,515603420.0

Merge production for common fields (fields that partially belong to UK and partially to Norway)

In [39]:
display((df_Nor[df_Nor.FIELDNAME=='BLANE']).sort_values(by='PERIODDATE', axis=0, ascending=True).head(10))
display((df_UK[df_UK.FIELDNAME=='BLANE']).sort_values(by='PERIODDATE', axis=0, ascending=True).head(10))

,FIELDNAME,LAT,LON,PERIODDATE,Oil Production Volumes,Gas Production Volumes,Water Production Volumes
810,BLANE,56.847683,2.498706,2007-05-01,0.0,0.0,0.0
811,BLANE,56.847683,2.498706,2007-06-01,0.0,0.0,0.0
812,BLANE,56.847683,2.498706,2007-07-01,0.0,0.0,0.0
813,BLANE,56.847683,2.498706,2007-08-01,0.0,0.0,0.0
814,BLANE,56.847683,2.498706,2007-09-01,8200.0,480.0,100.0
815,BLANE,56.847683,2.498706,2007-10-01,14350.0,850.0,70.0
816,BLANE,56.847683,2.498706,2007-11-01,13750.0,810.0,50.0
817,BLANE,56.847683,2.498706,2007-12-01,14700.0,870.0,40.0
818,BLANE,56.847683,2.498706,2008-01-01,14070.0,860.0,50.0
819,BLANE,56.847683,2.498706,2008-02-01,12850.0,740.0,40.0

,FIELDNAME,LAT,LON,PERIODDATE,Oil Production Volumes,Gas Production Volumes,Water Production Volumes
5270,BLANE,56.847683,2.498706,2007-09-01,37337.06,2.556053,436.24
5271,BLANE,56.847683,2.498706,2007-10-01,65381.88,4.399793,336.20
5272,BLANE,56.847683,2.498706,2007-11-01,62657.02,4.326370,205.82
5273,BLANE,56.847683,2.498706,2007-12-01,66979.24,4.531507,193.52
5274,BLANE,56.847683,2.498706,2008-01-01,64104.32,4.445566,222.22
5275,BLANE,56.847683,2.498706,2008-02-01,58524.22,4.102093,179.58
5276,BLANE,56.847683,2.498706,2008-03-01,67100.60,4.448369,201.72
5277,BLANE,56.847683,2.498706,2008-04-01,36124.28,2.412226,109.06
5278,BLANE,56.847683,2.498706,2008-05-01,67671.32,4.397925,186.96
5279,BLANE,56.847683,2.498706,2008-06-01,56847.32,3.823461,164.00

In [40]:
common_fields = list(set(df_UK.FIELDNAME.unique()).intersection(df_Nor.FIELDNAME.unique()))

for common_field in common_fields:
    print('Working with {}...'.format(common_field))

    df_merged=pd.merge(df_Nor[df_Nor.FIELDNAME==common_field],df_UK[df_UK.FIELDNAME==common_field], 
                       on='PERIODDATE', how='outer', suffixes=('', '_UK'))
    df_merged.fillna(0., inplace=True)

    df_merged['Oil Production Volumes']   = df_merged['Oil Production Volumes']   + df_merged['Oil Production Volumes_UK'] 
    df_merged['Gas Production Volumes']   = df_merged['Gas Production Volumes']   + df_merged['Gas Production Volumes_UK'] 
    df_merged['Water Production Volumes'] = df_merged['Water Production Volumes'] + df_merged['Water Production Volumes_UK']
    df_merged = df_merged[df_Nor.columns]
    
    df_Nor = df_Nor[df_Nor.FIELDNAME!=common_field]
    df_UK  = df_UK[df_UK.FIELDNAME!=common_field]

    df_Nor = pd.concat([df_Nor, df_merged], ignore_index=True)

Working with BLANE...

In [41]:
display((df_Nor[df_Nor.FIELDNAME=='BLANE']).sort_values(by='PERIODDATE', axis=0, ascending=True).head(10))

,FIELDNAME,LAT,LON,PERIODDATE,Oil Production Volumes,Gas Production Volumes,Water Production Volumes
7780,BLANE,56.847683,2.498706,2007-05-01,0.00,0.000000,0.00
7781,BLANE,56.847683,2.498706,2007-06-01,0.00,0.000000,0.00
7782,BLANE,56.847683,2.498706,2007-07-01,0.00,0.000000,0.00
7783,BLANE,56.847683,2.498706,2007-08-01,0.00,0.000000,0.00
7784,BLANE,56.847683,2.498706,2007-09-01,45537.06,482.556053,536.24
7785,BLANE,56.847683,2.498706,2007-10-01,79731.88,854.399793,406.20
7786,BLANE,56.847683,2.498706,2007-11-01,76407.02,814.326370,255.82
7787,BLANE,56.847683,2.498706,2007-12-01,81679.24,874.531507,233.52
7788,BLANE,56.847683,2.498706,2008-01-01,78174.32,864.445566,272.22
7789,BLANE,56.847683,2.498706,2008-02-01,71374.22,744.102093,219.58

Finally merge datasets

In [42]:
df_NCS = pd.concat([df_Nor,df_UK],axis=0).reset_index(drop=True)
display(df_NCS)

,FIELDNAME,LAT,LON,PERIODDATE,Oil Production Volumes,Gas Production Volumes,Water Production Volumes
0,BRAGE,60.58,3.02,1993-09-01,30810.0,1840.000000,0.0
1,BRAGE,60.58,3.02,1993-10-01,231810.0,12040.000000,0.0
2,BRAGE,60.58,3.02,1993-11-01,374290.0,21470.000000,0.0
3,BRAGE,60.58,3.02,1993-12-01,420840.0,26090.000000,0.0
4,BRAGE,60.58,3.02,1994-01-01,414550.0,24880.000000,0.0
5,BRAGE,60.58,3.02,1994-02-01,388400.0,24570.000000,0.0
6,BRAGE,60.58,3.02,1994-03-01,423790.0,27460.000000,0.0
7,BRAGE,60.58,3.02,1994-04-01,409210.0,26440.000000,0.0
8,BRAGE,60.58,3.02,1994-05-01,467480.0,29370.000000,0.0
9,BRAGE,60.58,3.02,1994-06-01,464500.0,28920.000000,0.0
10,BRAGE,60.58,3.02,1994-07-01,482090.0,33920.000000,0.0
11,BRAGE,60.58,3.02,1994-08-01,479680.0,32080.000000,0.0
12,BRAGE,60.58,3.02,1994-09-01,467310.0,32470.000000,0.0
13,BRAGE,60.58,3.02,1994-10-01,477440.0,33390.000000,0.0
14,BRAGE,60.58,3.02,1994-11-01,465160.0,31570.000000,0.0
15,BRAGE,60.58,3.02,1994-12-01,477830.0,30290.000000,0.0
16,BRAGE,60.58,3.02,1995-01-01,481140.0,31850.000000,0.0
17,BRAGE,60.58,3.02,1995-02-01,442500.0,30230.000000,0.0
18,BRAGE,60.58,3.02,1995-03-01,476890.0,31310.000000,0.0
19,BRAGE,60.58,3.02,1995-04-01,489560.0,41550.000000,0.0
20,BRAGE,60.58,3.02,1995-05-01,478040.0,37930.000000,0.0
21,BRAGE,60.58,3.02,1995-06-01,398380.0,34420.000000,0.0
22,BRAGE,60.58,3.02,1995-07-01,599720.0,48830.000000,0.0
23,BRAGE,60.58,3.02,1995-08-01,600100.0,49290.000000,0.0
24,BRAGE,60.58,3.02,1995-09-01,583230.0,47660.000000,0.0
25,BRAGE,60.58,3.02,1995-10-01,602540.0,56230.000000,0.0
26,BRAGE,60.58,3.02,1995-11-01,576520.0,49540.000000,0.0
27,BRAGE,60.58,3.02,1995-12-01,595570.0,55150.000000,0.0
28,BRAGE,60.58,3.02,1996-01-01,594720.0,51430.000000,0.0
29,BRAGE,60.58,3.02,1996-02-01,546560.0,49420.000000,0.0
...,...,...,...,...,...,...,...
15059,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2006-09-01,128207.0,8.228395,284.0
15060,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2006-10-01,121185.0,6.831744,197.0
15061,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2006-11-01,138407.0,8.860534,254.0
15062,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2008-08-01,3640.0,0.173157,6.0
15063,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2008-09-01,262566.0,17.901173,30815.0
15064,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2008-10-01,270175.0,17.649526,33740.0
15065,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2008-11-01,231426.0,15.818766,18249.0
15066,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2011-05-01,181656.0,12.036719,96228.0
15067,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2011-06-01,162149.0,11.430288,125167.0
15068,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2011-07-01,177435.0,12.048111,113192.0
15069,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2011-08-01,161362.0,10.740317,96754.0
15070,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2006-12-01,149138.0,9.214937,262.0
15071,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2007-01-01,131117.0,7.500450,270.0
15072,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2007-02-01,117918.0,7.417411,176.0
15073,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2007-03-01,151965.0,9.423409,297.0
15074,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2008-12-01,243655.0,15.974911,36622.0
15075,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2009-01-01,237245.0,15.449743,46036.0
15076,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2009-02-01,234019.0,16.827597,28018.0
15077,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2009-03-01,245378.0,15.520373,46297.0
15078,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2011-09-01,165656.0,11.402036,94484.0
15079,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2011-10-01,85038.0,5.031818,54832.0
15080,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2011-11-01,53241.0,2.805188,36823.0
15081,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2007-04-01,140315.0,9.217215,249.0
15082,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2007-05-01,129026.0,8.041567,304.0
15083,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2007-06-01,138475.0,8.978250,319.0
15084,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2007-07-01,118885.0,7.118820,223.0
15085,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2009-04-01,245723.0,15.781096,48973.0
15086,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2009-05-01,262764.0,16.821332,64402.0
15087,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2009-06-01,197685.0,12.567431,1964.0
15088,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2009-07-01,214660.0,13.657791,31317.0

## Additional features

Modify data to include column with cumulative production per field

In [43]:
df_NCS['Cumulative Oil Production Volumes']   = np.zeros(len(df_NCS))
df_NCS['Cumulative Gas Production Volumes']   = np.zeros(len(df_NCS))
df_NCS['Cumulative Water Production Volumes'] = np.zeros(len(df_NCS))

for field in df_NCS.FIELDNAME.unique():
    print('Working with {}...'.format(field.encode('utf-8')))
    df_field = df_NCS[df_NCS['FIELDNAME']==field]

    df_field = df_field.drop(labels='FIELDNAME', axis=1)        
    df_field.PERIODDATE = pd.to_datetime(df_field.PERIODDATE)
    
    df_field_cumulative = df_field.sort_values(by='PERIODDATE',
                                               axis=0, ascending=True)[['Oil Production Volumes',
                                                                        'Gas Production Volumes',
                                                                        'Water Production Volumes']].cumsum(axis=0)
    #display(df_field_cumulative.head(10))

    df_field_cumulative.rename(columns={'Oil Production Volumes': 'Cumulative Oil Production Volumes', 
                                        'Gas Production Volumes': 'Cumulative Gas Production Volumes',
                                        'Water Production Volumes': 'Cumulative Water Production Volumes'}, inplace=True)
    #display(df_field_cumulative.head(10))
    
    df_NCS.loc[df_NCS['FIELDNAME']==field,'Cumulative Oil Production Volumes'] = \
        df_field_cumulative['Cumulative Oil Production Volumes']
    
    df_NCS.loc[df_NCS['FIELDNAME']==field,'Cumulative Gas Production Volumes'] = \
        df_field_cumulative['Cumulative Gas Production Volumes']
   
    df_NCS.loc[df_NCS['FIELDNAME']==field,'Cumulative Water Production Volumes'] = \
        df_field_cumulative['Cumulative Water Production Volumes']
    
display(df_NCS)

Working with BRAGE...
Working with DRAUGEN...
Working with EKOFISK...
Working with FRIGG...
Working with GINA KROG...
Working with GOLIAT...
Working with GRANE...
Working with GULLFAKS...
Working with HEIDRUN...
Working with HEIMDAL...
Working with NORNE...
Working with ORMEN LANGE...
Working with OSEBERG...
Working with OSEBERG SÃ˜R...
Working with OSEBERG Ã˜ST...
Working with OSELVAR...
Working with SKIRNE...
Working with SLEIPNER VEST...
Working with SLEIPNER Ã˜ST...
Working with SNORRE...
Working with SNÃ˜HVIT...
Working with STATFJORD...
Working with STATFJORD NORD...
Working with STATFJORD Ã˜ST...
Working with TAMBAR...
Working with TROLL...
Working with ULA...
Working with VALE...
Working with VALHALL...
Working with YME...
Working with BLANE...
Working with ALBA...
Working with ANDREW...
Working with AUK...
Working with BRAE-CENTRAL [Part of BRAE]...
Working with BRAE-NORTH [Part of BRAE]...
Working with BRAE-SOUTH [Part of BRAE]...
Working with BUCHAN...
Working with DRAKE...
Working with ELGIN...
Working with CYRUS...
Working with FORTIES...
Working with EVEREST...
Working with FLEMING...
Working with FARRAGON...
Working with FULMAR...
Working with FRANKLIN...
Working with GOLDEN EAGLE...
Working with HAWKINS...
Working with MILLER...
Working with SEYMOUR...
Working with HARDING...
Working with KINNOULL...
Working with AMETHYST WEST...
Working with ANGLIA...
Working with LEMAN [PERENCO][pt. of LEMAN]...
Working with CLAIR-PHASE 1 [Part of CLAIR]...

,FIELDNAME,LAT,LON,PERIODDATE,Oil Production Volumes,Gas Production Volumes,Water Production Volumes,Cumulative Oil Production Volumes,Cumulative Gas Production Volumes,Cumulative Water Production Volumes
0,BRAGE,60.58,3.02,1993-09-01,30810.0,1840.000000,0.0,30810.0,1.840000e+03,0.0
1,BRAGE,60.58,3.02,1993-10-01,231810.0,12040.000000,0.0,262620.0,1.388000e+04,0.0
2,BRAGE,60.58,3.02,1993-11-01,374290.0,21470.000000,0.0,636910.0,3.535000e+04,0.0
3,BRAGE,60.58,3.02,1993-12-01,420840.0,26090.000000,0.0,1057750.0,6.144000e+04,0.0
4,BRAGE,60.58,3.02,1994-01-01,414550.0,24880.000000,0.0,1472300.0,8.632000e+04,0.0
5,BRAGE,60.58,3.02,1994-02-01,388400.0,24570.000000,0.0,1860700.0,1.108900e+05,0.0
6,BRAGE,60.58,3.02,1994-03-01,423790.0,27460.000000,0.0,2284490.0,1.383500e+05,0.0
7,BRAGE,60.58,3.02,1994-04-01,409210.0,26440.000000,0.0,2693700.0,1.647900e+05,0.0
8,BRAGE,60.58,3.02,1994-05-01,467480.0,29370.000000,0.0,3161180.0,1.941600e+05,0.0
9,BRAGE,60.58,3.02,1994-06-01,464500.0,28920.000000,0.0,3625680.0,2.230800e+05,0.0
10,BRAGE,60.58,3.02,1994-07-01,482090.0,33920.000000,0.0,4107770.0,2.570000e+05,0.0
11,BRAGE,60.58,3.02,1994-08-01,479680.0,32080.000000,0.0,4587450.0,2.890800e+05,0.0
12,BRAGE,60.58,3.02,1994-09-01,467310.0,32470.000000,0.0,5054760.0,3.215500e+05,0.0
13,BRAGE,60.58,3.02,1994-10-01,477440.0,33390.000000,0.0,5532200.0,3.549400e+05,0.0
14,BRAGE,60.58,3.02,1994-11-01,465160.0,31570.000000,0.0,5997360.0,3.865100e+05,0.0
15,BRAGE,60.58,3.02,1994-12-01,477830.0,30290.000000,0.0,6475190.0,4.168000e+05,0.0
16,BRAGE,60.58,3.02,1995-01-01,481140.0,31850.000000,0.0,6956330.0,4.486500e+05,0.0
17,BRAGE,60.58,3.02,1995-02-01,442500.0,30230.000000,0.0,7398830.0,4.788800e+05,0.0
18,BRAGE,60.58,3.02,1995-03-01,476890.0,31310.000000,0.0,7875720.0,5.101900e+05,0.0
19,BRAGE,60.58,3.02,1995-04-01,489560.0,41550.000000,0.0,8365280.0,5.517400e+05,0.0
20,BRAGE,60.58,3.02,1995-05-01,478040.0,37930.000000,0.0,8843320.0,5.896700e+05,0.0
21,BRAGE,60.58,3.02,1995-06-01,398380.0,34420.000000,0.0,9241700.0,6.240900e+05,0.0
22,BRAGE,60.58,3.02,1995-07-01,599720.0,48830.000000,0.0,9841420.0,6.729200e+05,0.0
23,BRAGE,60.58,3.02,1995-08-01,600100.0,49290.000000,0.0,10441520.0,7.222100e+05,0.0
24,BRAGE,60.58,3.02,1995-09-01,583230.0,47660.000000,0.0,11024750.0,7.698700e+05,0.0
25,BRAGE,60.58,3.02,1995-10-01,602540.0,56230.000000,0.0,11627290.0,8.261000e+05,0.0
26,BRAGE,60.58,3.02,1995-11-01,576520.0,49540.000000,0.0,12203810.0,8.756400e+05,0.0
27,BRAGE,60.58,3.02,1995-12-01,595570.0,55150.000000,0.0,12799380.0,9.307900e+05,0.0
28,BRAGE,60.58,3.02,1996-01-01,594720.0,51430.000000,0.0,13394100.0,9.822200e+05,0.0
29,BRAGE,60.58,3.02,1996-02-01,546560.0,49420.000000,0.0,13940660.0,1.031640e+06,0.0
...,...,...,...,...,...,...,...,...,...,...
15059,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2006-09-01,128207.0,8.228395,284.0,1802190.0,1.076556e+02,2688.0
15060,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2006-10-01,121185.0,6.831744,197.0,1923375.0,1.144874e+02,2885.0
15061,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2006-11-01,138407.0,8.860534,254.0,2061782.0,1.233479e+02,3139.0
15062,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2008-08-01,3640.0,0.173157,6.0,5550728.0,3.458672e+02,26863.0
15063,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2008-09-01,262566.0,17.901173,30815.0,5813294.0,3.637684e+02,57678.0
15064,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2008-10-01,270175.0,17.649526,33740.0,6083469.0,3.814179e+02,91418.0
15065,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2008-11-01,231426.0,15.818766,18249.0,6314895.0,3.972366e+02,109667.0
15066,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2011-05-01,181656.0,12.036719,96228.0,12602181.0,8.104316e+02,2039863.0
15067,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2011-06-01,162149.0,11.430288,125167.0,12764330.0,8.218619e+02,2165030.0
15068,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2011-07-01,177435.0,12.048111,113192.0,12941765.0,8.339100e+02,2278222.0
15069,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2011-08-01,161362.0,10.740317,96754.0,13103127.0,8.446503e+02,2374976.0
15070,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2006-12-01,149138.0,9.214937,262.0,2210920.0,1.325628e+02,3401.0
15071,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2007-01-01,131117.0,7.500450,270.0,2342037.0,1.400633e+02,3671.0
15072,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2007-02-01,117918.0,7.417411,176.0,2459955.0,1.474807e+02,3847.0
15073,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2007-03-01,151965.0,9.423409,297.0,2611920.0,1.569041e+02,4144.0
15074,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2008-12-01,243655.0,15.974911,36622.0,6558550.0,4.132116e+02,146289.0
15075,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2009-01-01,237245.0,15.449743,46036.0,6795795.0,4.286613e+02,192325.0
15076,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2009-02-01,234019.0,16.827597,28018.0,7029814.0,4.454889e+02,220343.0
15077,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2009-03-01,245378.0,15.520373,46297.0,7275192.0,4.610093e+02,266640.0
15078,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2011-09-01,165656.0,11.402036,94484.0,13268783.0,8.560524e+02,2469460.0
15079,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2011-10-01,85038.0,5.031818,54832.0,13353821.0,8.610842e+02,2524292.0
15080,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2011-11-01,53241.0,2.805188,36823.0,13407062.0,8.638894e+02,2561115.0
15081,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2007-04-01,140315.0,9.217215,249.0,2752235.0,1.661213e+02,4393.0
15082,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2007-05-01,129026.0,8.041567,304.0,2881261.0,1.741629e+02,4697.0
15083,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2007-06-01,138475.0,8.978250,319.0,3019736.0,1.831411e+02,5016.0
15084,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2007-07-01,118885.0,7.118820,223.0,3138621.0,1.902599e+02,5239.0
15085,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2009-04-01,245723.0,15.781096,48973.0,7520915.0,4.767904e+02,315613.0
15086,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2009-05-01,262764.0,16.821332,64402.0,7783679.0,4.936117e+02,380015.0
15087,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2009-06-01,197685.0,12.567431,1964.0,7981364.0,5.061791e+02,381979.0
15088,CLAIR-PHASE 1 [Part of CLAIR],60.45,2.24,2009-07-01,214660.0,13.657791,31317.0,8196024.0,5.198369e+02,413296.0

Save final dataset

In [44]:
df_NCS.PERIODDATE = df_NCS.PERIODDATE.dt.strftime('%Y-%m-%dT00:00:00.000Z')

df_NCS.to_csv('Data/NorthSea_Production_cleaned.csv', index=False, encoding='latin-1')